.App {
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding-left: 100px;
  width: 100%;
  justify-content: space-between;
}

.main-div {
  /* padding-top: 50px; */
  justify-content: center;
  background-color: white;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/* Custom Navbar styles */
.custom-navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-navbar .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-brand:hover {
  color: #007bff; /* Change to blue on hover */
}

.custom-button {
  font-size: 1rem;
  padding: 8px 20px;
  margin-left: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}

/* Mobile View */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 10px;
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
  }

  .custom-button {
    padding: 6px 15px;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Message when no images */
.no-images-message {
  font-size: 1.2rem;
  color: #6c757d;
  font-weight: 600;
  padding: 50px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery-item {
    margin-bottom: 1.5rem;
  }
  .gallery-image-wrapper {
    padding-top: 75%; /* For 4:3 aspect ratio on small screens */
  }
}